/* Reset de definições padroes */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Declração de variaveis e paleta de cores */
:root {
  --cor-primaria: #F3F5FC;
  --cor-secundaria: #0A3871;
  --cor-tercearia: #D8DFE8;
  --cor-quartearia: #495057;
}

body {
  background-color: var(--cor-primaria);
}

/* Contenair do conteudo principal */
main {
  width: auto;
  height: 1024px;
}

header {
  margin-top: 15px;
  width: auto;
  height: 50px;
}

/* container dos inputs e botoes principais  */
#container-conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 800px;
}

#container-conteudo #box-inputs {
  width: 680px;
  height: 750px;
}


/* input principal do site */
#container-conteudo #box-inputs .input {
  padding: 10px;
  margin-top: 60px;
  width: 100%;
  font-size: 32px;
  color: var(--cor-secundaria);
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}


textarea.input{
  outline: none;
  font-size: 30px;
  padding: 30px;
  margin-top: 15px;
  text-align: center;
  resize: none;
  text-transform: uppercase;
  border: none;
}

#container-conteudo #box-paragraph {
  position: relative;
  top: 530px;
  display: flex;
  padding-left: 10px;
}

#container-conteudo #box-paragraph p {
  margin-left: 10px;
  font-size: 16px;
  color: var(--cor-quartearia);
}

/* box dos botoes cripto e descripto */
#box-inputs #box-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 550px;
  width: 680px;
}

#box-inputs #box-buttons button {
  width: 220px;
  padding: 15px;
  border-radius: 24px;
  outline: none;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
}

/* botão de criptografia */
#box-inputs #box-buttons .button-cripto {
  color: white;
  background-color: var(--cor-secundaria);
}

#box-inputs #box-buttons .button-cripto:hover {
  background-color: #1474e9;
}

#box-inputs #box-buttons .button-descripto {
  background-color: var(--cor-tercearia);
}

#box-inputs #box-buttons .button-descripto:hover {
  background-color: gray;
}

/* botão de copiar */
.button-copia {
  width: 220px;
  padding: 15px;
  border-radius: 24px;
  outline: none;
  border: 1px solid black;
  font-size: 18px;
  margin-top: 490px;
  color: white;
  background-color: var(--cor-secundaria);
  cursor: pointer;
}

.button-copia:hover {
  background-color: #1474e9;
}

#box-inputMSG {
  position: relative;
  right: -180px;
  width: 400px;
  height: 750px;
  border-radius: 32px;
  border: 1px solid black;
  background-color: #ffffff;
}

#box-inputMSG #box-inputconteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
}

#box-inputMSG #box-inputconteudo img {
  width: 336px;
  height: 450px;
}

#box-inputMSG #box-inputconteudo h2 {
  text-align: center;
  font-size: 24px;
  color: #343a40;
  margin-bottom: 15px;
}

/* Rodapé */
footer {
  background-color: var(--cor-secundaria);
  width: auto;
  height: 100px;
}

footer p {
  text-align: center;
  font-size: 22px;
  padding-top: 40px;
  color: var(--cor-primaria);
}

/* Resposivo do site */
/* Telas de 768px tablets */
@media screen and (max-width: 768px) {
  #container-conteudo {
    display: flex;
    flex-direction: column;
  }

  #container-conteudo #box-inputs {
    margin-top: 100px;
  }

  #box-inputs #box-buttons button {
    padding: 30px;
    font-size: 22px;
  }

  #box-inputMSG {
    right: 0px;
    top: 80px;
    height: 400px;
  }

  #box-inputMSG #box-inputconteudo img {
    display: none;
  }

  #box-inputMSG #box-inputconteudo {
    padding: 20px;
  }

  footer {
    margin-top: 80px;
  }
}

/* Telas de 375px - mobile */
@media screen and (max-width: 375px) {
header {
  margin-bottom: -20px;
}

  main {
    display: flex;
    flex-direction: column;
}

#container-conteudo #box-inputs {
    width: 320px;
  }

/* input principal do site */
#container-conteudo #box-inputs input {
  padding: 0px;
  margin-top: -150px;
  font-size: 32px;
}

/* box do paragrafo perto dos botoes */
#container-conteudo #box-paragraph {
  top: 250px;
  padding-left: 10px;
}

#container-conteudo #box-paragraph p {
  font-size: 14px;
}

/* box dos botoes cripto e descripto */
#box-inputs #box-buttons {
  margin-top: 280px;
  width: 320px;
  gap: 15px;
}

#box-inputs #box-buttons button {
  width: 220px;
  padding: 15px;
  font-size: 14px;
}

#box-inputMSG {
  width: 320px;
  height: 320px;
  margin-top: -250px;
  text-align: center;
}

#box-inputMSG #box-inputconteudo {
  padding: 20px;
}

#box-inputMSG #box-inputconteudo h2 {
  text-align: center;
  font-size: 24px;
  color: #343a40;
  margin-bottom: 25px;
}
}